body 
{
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 
{
  text-align: center;
  margin-bottom: 30px;
}

form 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.required 
{
  color: red;
  font-size: smaller;
}

label 
{
  margin-bottom: 10px;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"],
input[type="date"] 
{
  padding: 10px;
  font-size: 16px;
  width: 300px;
  margin-bottom: 10px;
}

textarea 
{
  padding: 10px;
  font-size: 16px;
  width: 300px;
  height: 100px;
  margin-bottom: 10px;
}

small 
{
  color: red;
  width: 300px;
  display: block;
  margin-top: -20px;
}

input[type="checkbox"] 
{
  margin-right: 10px;
}

label.checkbox_label 
{
  width: 300px;
  display: block;
  margin-bottom: 10px;
}

label[for="profile_img"] 
{
  display: block;
  width: 320px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #c8c8c8;
  transition: background-color 0.7s ease;
  font-size: 16px;
  color: black;
  border: 1px solid #333;
  padding-top: 10px;
  cursor: pointer;
}

label[for="profile_img"]:hover 
{
  background-color: #555;
  color: lightblue;
}

label[for="profile_img"]::before 
{
  content: "Upload Profile Image";
}

label[for="profile_img"]::after 
{
  content: " (required)";
}

input[type="file"] 
{
  display: none;
}

input[type="submit"] 
{
  background-color: lightblue;
  color: #333;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  font-size: 1.2rem;
  width: 150px;
  cursor: pointer;
  transition: background-color 0.6s ease, width 0.6s ease;
}

input[type="submit"]:hover 
{
  background-color: #555;
  color: lightblue;
  width: 200px;
}

p 
{
  text-align: center;
}

a 
{
  font-size: 16px;
}